@import 'nib'
@import 'jeet'
@import 'axis'
@import 'grid'

normalize-css()

rupture.scale = 450px 1024px 1366px 1920px
rupture.scale-names = 'phone' 'tablet' 'notebook' 'desktop'

*:focus
	outline 0

img
	max-width 100%
	display block

.row
	clearfix()

.btn
	button()
